@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-color: #f3f5fc;
}

header svg {
  position: absolute;
  left: 84px;
  top: 40px;
  cursor: pointer;
}

main #texto {
  position: absolute;
  left: 240px;
  top: 140px;
}
main #texto textarea {
  font-family: "Inter";
  font-size: 32px;
  color: #20497e;
  border: 0px;
  background-color: #f3f5fc;
  outline: none;
  width: 730px;
  height: 600px;
  resize: none;
}
main #texto ::-moz-placeholder {
  color: #20497e;
}
main #texto :-ms-input-placeholder {
  color: #20497e;
}
main #texto ::placeholder {
  color: #20497e;
}
main #acciones .alerta {
  position: absolute;
  left: 245px;
  top: 790px;
}
main #acciones #condicion {
  position: absolute;
  left: 264px;
  top: 779px;
  font-family: "Inter";
  opacity: 0.8;
  color: #495057;
  font-size: 12px;
}
main #acciones #botones {
  position: absolute;
  left: 240px;
  top: 830px;
}
main #acciones #botones .boton1 {
  background-color: #20497e;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter";
  color: white;
  font-size: 16px;
  border: 1px solid #20497e;
  cursor: pointer;
  transition: transform ease 300ms;
}
main #acciones #botones .boton1:hover {
  transform: translateY(-0.25em);
}
main #acciones #botones .boton2 {
  background-color: #D8DFE8;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter";
  color: #20497e;
  font-size: 16px;
  border: 1px solid #20497e;
  margin-left: 15px;
  cursor: pointer;
  transition: transform ease 300ms;
}
main #acciones #botones .boton2:hover {
  transform: translateY(-0.25em);
}

aside {
  display: inline-block;
  position: absolute;
  width: 400px;
  height: 900px;
  left: 1000px;
  top: 30px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}
aside div #mostrarTexto {
  width: 360px;
  height: 770px;
  margin-left: 15px;
  padding-left: 10px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  color: #495057;
  word-break: break-all;
  white-space: pre-wrap;
}
aside div #botonCopiar {
  background-color: white;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-family: "Inter";
  color: #20497e;
  font-size: 16px;
  border: 1px solid #20497e;
  position: absolute;
  left: 32px;
  top: 800px;
  cursor: pointer;
  transition: transform ease 300ms;
}
aside div #botonCopiar:hover {
  transform: translateY(-0.25em);
}
aside div #mensajeCopiado {
  font-family: "Inter";
  position: absolute;
  left: 140px;
  top: 855px;
}
aside div img {
  position: absolute;
  width: 336px;
  height: 304px;
  top: 243px;
  left: 32px;
}
aside div #error {
  position: absolute;
  top: 579px;
  left: 32px;
  width: 336px;
  height: 58px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
aside div #consejo {
  position: absolute;
  top: 653px;
  left: 32px;
  width: 336px;
  height: 48px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
}
aside #credits {
  margin-top: 350px;
  margin-left: 40px;
}
aside #credits p {
  font-family: "Inter";
  font-size: 23px;
  color: #20497e;
}
aside #credits a img {
  width: 50px;
  height: 50px;
}
aside #credits a .github {
  margin-left: 70px;
  margin-top: 200px;
}
aside #credits a .linkedin {
  margin-left: 200px;
  margin-top: 200px;
}

.oculto {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  header svg {
    left: 40px;
    top: 70px;
  }
  main #texto {
    left: 40px;
    top: 200px;
  }
  main #texto textarea {
    height: 580px;
    width: 700px;
  }
  main #acciones .alerta {
    top: 800px;
    left: 40px;
  }
  main #acciones #condicion {
    top: 790px;
    left: 60px;
  }
  main #acciones #botones {
    left: 40px;
  }
  .fitcontent {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 10px;
  }
  aside {
    position: absolute;
    width: 688px;
    height: 133px;
    left: 40px;
    top: 950px;
  }
  aside div #mostrarTexto {
    width: 645px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  aside div img {
    display: none;
  }
  aside div #error {
    left: 140px;
    top: 10px;
    width: 400px;
  }
  aside div #consejo {
    left: 140px;
    top: 70px;
    width: 400px;
  }
  aside div #botonCopiar {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 220px;
    width: 250px;
  }
  aside div #mensajeCopiado {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 290px;
  }
  aside #credits {
    margin-top: 40px;
    margin-left: 220px;
  }
  aside #credits p {
    font-family: "Inter";
    font-size: 20px;
    color: #20497e;
  }
  aside #credits a {
    margin-left: 0px;
    margin-top: 0px;
  }
  aside #credits a img {
    width: 200px;
    height: 200px;
  }
  aside #credits a .github {
    margin-left: 0px;
    margin-top: 0px;
  }
  aside #credits a .linkedin {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 440px) {
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 350px;
  }
  header svg {
    left: 10px;
    top: 20px;
    height: 40px;
  }
  main {
    width: 350px;
  }
  main #texto {
    left: 40px;
    top: 100px;
  }
  main #texto textarea {
    font-size: 25px;
    width: 330px;
    height: 400px;
  }
  main #acciones .alerta {
    left: 40px;
    top: 530px;
  }
  main #acciones #condicion {
    left: 60px;
    top: 519px;
  }
  main #acciones #botones {
    left: 40px;
    width: 330px;
    top: 570px;
  }
  main #acciones #botones .boton2 {
    margin-top: 10px;
    margin-left: 0px;
  }
  .fitcontent {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 10px;
  }
  aside {
    display: flex;
    width: 327px;
    height: 186px;
    left: 40px;
    top: 750px;
  }
  aside div #mostrarTexto {
    width: 280px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  aside div img {
    display: none;
  }
  aside div #error {
    left: -10px;
    top: 25px;
  }
  aside div #consejo {
    left: 40px;
    top: 100px;
    width: 250px;
  }
  aside div #botonCopiar {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 35px;
    width: 250px;
  }
  aside div #mensajeCopiado {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 100px;
  }
  aside #credits {
    margin-top: 40px;
    margin-left: 20px;
  }
  aside #credits p {
    font-family: "Inter";
    font-size: 20px;
    color: #20497e;
  }
}/*# sourceMappingURL=main.css.map */